@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello there!</h1>


<h2>@productsList.Count()</h2>
<h2>@ProductsCount</h2>
Welcome to your new app.


@code{
    int ProductsCount;
    List<ProductDTO> productsList = new List<ProductDTO>();
    // protected override async Task OnInitializedAsync()
    // {
        
    //     var response = await Http.GetAsync($"/products/");
    //     productsList = await Http.GetFromJsonAsync<List<ProductDTO>>($"/products");

    // }

    protected override async Task OnInitializedAsync()
    {

        var response = await Http.GetAsync($"/products/");
        productsList = await Http.GetFromJsonAsync<List<ProductDTO>>($"/products");
        ProductsCount = await Http.GetFromJsonAsync<int>($"/products/check");

    }
}